.table{
    padding-left: 0px;
}

.button-group .btn:not(:last-child) {
    margin-right: 10px;
}

.assignment-row {
    color:black;
    display: flex;
    border: 1px solid gray;
    border-radius: 5px;
    background-color:snow;
    margin-bottom: 10px;
    align-items: center;
    padding-left: 15px;
    padding-right: 15px;
    font:30px;
    height: 60px;
    justify-content: space-between;
}

.assignment-row > :nth-child(3) {
    margin-left: auto;
}
.left-align-button {
    float: left;
}


.wd-modules,
.wd-modules * {
    border-radius: 0%;
    border: none;
    margin: 0px;
    padding: 0px;
}

.wd-modules {
    margin: 5px;
}

.wd-modules > li {
    background-color: lightgray;
    border: 1px solid gray !important;
    border-left: none !important;
}

.wd-modules > li > div {
    padding: 6px;
    border-left: 1px solid gray !important;
}

.wd-modules > li > ul > li {
    padding: 5px;
    border-top: 1px solid gray !important;
    border-left: 2px solid green;
}

.wd-modules > li {
    margin-bottom: 20px;
}

.wd-button-style {
    border-style: solid;
    border-color: darkgray;

}

.wd-float-right {
    float: right;
}

.wd-remove-hyperlink li a:link {
    text-decoration: none;
    color: black;
}
.wd-remove-hyperlink li a:visited {
    text-decoration: none;
    color: black;
}
.wd-remove-hyperlink li a:hover {
    text-decoration: none;
    color: black;
}
.wd-remove-hyperlink li a:active {
    text-decoration: none;
    color: black;
}

.wd-remove-hyperlink {
    text-decoration: none;
    color: black;
}