.wd-menu-button a:link {
    padding-right: 20px;
    color: red;
    margin-left: 25px;
}

.wd-menu-button a:visited {
    padding-right: 20px;
    color: red;
    margin-left: 25px;
}

.wd-breadcrumb-link a:link {
    text-decoration: none;
    color: red;
    margin: 5px;
}

.wd-breadcrumb-link a:visited {
    text-decoration: none;
    color: red;
    margin: 5px;
}

.wd-button-style {
    border-style: solid;
    border-color: darkgray;
    height: 40px;
    margin-top: 5px;
    margin-bottom: 5px;
    padding: 5px;
}

.list-group {
    border-radius: 0px;
}

.list-group-item {
    border-radius: 0px;
}

.wd-40-percent {
    border: solid;
    border-width: 1px;
    border-radius: 15px;
    border-color: gray;
    padding: 3px;
}

.wd-assignment-description {
    font-size: small;
    color: gray;
}

.wd-color-green {
    color: green;
}

.wd-assignments-list {
    --bs-list-group-item-padding-x: 0;
}

.wd-assignments-list li {
    padding: 0;
}

.wd-assignments-list li ul {
    border-left: solid;
    border-left-color: green;
}

.wd-assignment-title {
    background-color: lightgray;
}

.wd-assignment-heading a:link {
    text-decoration: none;
    color: black;
}

.wd-assignment-heading a:visited {
    text-decoration: none;
    color: black;
}

.button-group {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.button-controls {
    display: flex;
    gap: 5px;
}

.title-circle{
    border: 1px solid grey;
    padding-left: 4px;
    padding-right: 4px;
    border-radius: 5px;
}

.assignment-row {
    color:black;
    border: 1px solid grey;
    border-left:5px solid green;
    background-color:white;
    padding-left: 15px;
    padding-right: 15px;
    font: 30px;
    height: 60px;
    margin-bottom: 0;
    border-radius: 0;
}

.first-row{
    background-color:snow;
    border-left: 1px solid grey;
}

.left-group {
    display: flex;
    align-items: center;
    gap: 5px;
}


.right-group{
    display: flex;
    align-items: center;
    gap: 10px;
}