.wd-navigation {
    background-color: white;
    list-style: none;
    padding: 0px;
    width: 125px;
    margin: 0px;
    margin-left: 20px;
}
.wd-navigation li {
    padding-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}
.wd-navigation li.wd-active {
    border-left: 2px solid black;
}
.wd-navigation li.wd-active a {
    color: black;
}
.wd-navigation a {
    color: red;
    text-decoration: none;
}

#kanbas-navbar {
    width: 85px !important;
    min-height: max(100vh, 100%);
}

#kanbas-navbar ul {
    max-width: 100% !important;
}

#kanbas-navbar ul li {
    max-width: 100% !important;
}

.kanbas-navbar-item-text {
    font-size: 0.9em !important;
}

.nav-link {
    color: #ffffff;
    max-width: 100% !important;
}

.nav-pills .nav-link span {
    color: #E50000;
}

.nav-pills .nav-link.active {
    background-color: #ffffff;
    color: #E50000;
}

#account-icon {
    color: grey;
}

.nav-pills .nav-link {
    width: 100vw;
    border-radius: 0;
    padding: 5px;
}

.nav-pills .nav-link div span,
.nav-pills .nav-link div div {
    margin-block: 3px;
}

.page-content-wrapper {
    min-width: 100vw;
    margin: 25px;
}





